*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke
}

header{
    align-items: center;
    background-color: #1F2937;
    color:white
}
header>nav{
    width: 85vw;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
}

header>nav>ul{
    list-style-type: none;
    display: flex;
    gap:1em
}

header>.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header>.hero>div{
    height:80%;
    background-color: red;
}
img{
    display:block;
    width: 100%;
}
